<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/new}" th:object="${patient}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}"  id="name"/>
    <br/>
    <label for="sex">Enter sex</label>
    <input type="text" th:field="*{sex}"  id="sex"/>
    <br/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}"  id="age"/>
    <br/>
    <label for="surname">Enter surname</label>
    <input type="text"  th:field="*{surname}" id="surname"/>
    <br/>
    <button type="submit">Create</button>
</form>
</body>
</html>