<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Sex</th>
        <th>Age</th>
    </tr>
    <!--/*@thymesVar id="normals" type=""*/-->
    <div th:each="norma : ${normals}">
        <tr>
            <th><p th:text="${norma.getSex()}">Sex</p></th>
            <th><p th:text="${norma.getAge()}">Age</p> </th>
        </tr>
    </div>
</table>
</body>
</html>